.gadiha {
  display: table;
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  margin: 0 0 1.5em;
}

.zwina {
  display: inline-block;
  text-align: center;
}

.img_small {
  width: 3.2em;
  height: 2.1em;
  margin: 0 auto;
  border-radius: 40px;
  display: inline-block;
}

.tgadi {
  width: 17em;
  height: 5.1em;
  margin: 0 auto;
  border-radius: 12px;
  display: inline-block;
}

.shadow {
  box-shadow: 0 4px 8px #CBD2D6;
}

.transparent {
    opacity: 0.2;
}

.card-icons {
  
  vertical-align: middle;
}

.visaimg,
.mastercardimg,
.ameximg,
.discoverimg,
.dinersLogo,
.jcbLogo,

.ameximg {
  background-position: 0 3.2897%;
  background-size: 100%;
    background-image: url('./img/card_sprite.png');
}
.jcbLogo {
  background-position: 0 60.041935%;
  background-size: 100%;
}
.dinersLogo {
  background-position: 0 40.06129%;
  background-size: 100%;
}
.discoverimg {
  background-position: 0 42.887097%;
  background-size: 100%;
}
.mastercardimg {
  background-position: 0 65.6%;
  background-size: 100%;
}
.visaimg {
  background-position: 0 88.25161%;
  background-size: 100%;
}
.sghiwra {
	background-image: url('./img/ccv.gif');
	background-repeat: no-repeat;
	background-position: 100% 50%;
	margin-bottom: 8px;
}
.lolHhh {
	background-image: url('./img/cc.png');
	background-repeat: no-repeat;
	background-position: 98.5% 81.2%;
}
.error {
    background-image: url(./img/eror.png);
    background-repeat: no-repeat;
    background-position: 99% 61.6%;
    background-color: #fff;
    color: #c72e2e;
}
body {
    background : linear-gradient(0deg, rgba(218,227,230,0.40), rgba(218,227,230,0.40)), url(img/back.png) no-repeat ;
        background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    font-family: 'Mukta Mahee', sans-serif;

 }
